<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>

<div class="login">
  <h1>Register</h1>
  <form th:action="@{/register}" method="post" th:object="${user}">
    <p>Username: <input class="form-control" type="text" th:field="*{username}" /></p>
    <p>Password: <input class="form-control" type="password" th:field="*{password}" /></p>
    <p><button class="btn btn-primary" type="submit">Register</button></p>
    <p th:if="${error}" th:text="${error}" style="color:red;"></p>
    <p th:if="${success}" th:text="${success}" style="color:green;"></p>
  </form>

  <p>Đã có tài khoản? <a th:href="@{/login}">Đăng nhập</a></p>
</div>


</body>

</html>
